<template>
    <div class="country">
        <div>{{ country.emoji }} {{ country.name }}:</div>
        <div class="currency">
            <div class="currency__country">{{ (conversionRate.rate * savings).toLocaleString(undefined, { maximumFractionDigits: 0 }) }}</div>
            <div class="currency__symbol">{{ conversionRate.symbol }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'conversionRate',
            'country',
            'savings'
        ]
    }
</script>

<style lang="sass?indentedSyntax">
    @import "../../node_modules/bulma/bulma.sass"
    @import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono')

    .country
        display: flex
        justify-content: space-between

    .currency
        display: flex
        font-family: 'Share Tech Mono', monospace

        &__symbol
            width: 25px
            margin-left: 10px
</style>
