<template>
    <div>
        <section class="hero is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Where them Millions at?!
                    </h1>
                    <h2 class="subtitle">
                        Check out where you may call yourself a millionaire.
                    </h2>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <label class="label" for="savingsConversionRate">Your net worth</label>
                <p class="control has-addons">
                    <span class="select">
                        <select v-model.number="savingsConversionRate">
                            <option v-for="sourceCurrency in sourceCurrencies" :value="sourceCurrency.rate">
                                {{ sourceCurrency.symbol }}
                            </option>
                        </select>
                     </span>
                    <input type="number" class="input is-expanded" v-model.number="savings" :placeholder="0" pattern="[0-9]*" inputmode="numeric">
                </p>
            </div>
        </section>
        <section class="section no-top-padding">
            <div class="container">
                <div class="columns">
                    <div class="column is-half">
                        <h2 class="title is-4">Reached ({{ reachedCountries.length }} / {{ sortedConversionRates.length }})</h2>
                        <div v-for="conversionRate in reachedCountries">
                            <country v-for="country in conversionRate.countries"
                                :conversion-rate="conversionRate"
                                :country="country"
                                :savings="savingsInUSD"
                            ></country>
                        </div>
                    </div>
                    <div class="column is-half">
                        <h2 class="title is-4">Unreached ({{ unreachedCountries.length }} / {{ sortedConversionRates.length }})</h2>
                        <div v-for="conversionRate in unreachedCountries">
                            <country v-for="country in conversionRate.countries"
                                :conversion-rate="conversionRate"
                                :country="country"
                                :savings="savingsInUSD"
                            ></country>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>

import Country from './Country'

var countries = require('country-data').countries
var currencies = require('country-data').currencies
var lookup = require('country-data').lookup
var conversionRates = require('../rates.json')

export default {
    data: function () {
        return {
            conversionRates: conversionRates,
            savings: '',
            savingsConversionRate: 1
        }
    },
    computed: {
        savingsInUSD: function () {
            return this.savings / this.savingsConversionRate
        },
        sortedConversionRates: function () {
            var sortedConversionRates = []
            for(var index in this.conversionRates) {
                if(lookup.countries({currencies: index.replace('USD', '')})[0]) {
                    sortedConversionRates.push({
                        currency: index.replace('USD', ''),
                        rate: this.conversionRates[index],
                        countries: lookup.countries({currencies: index.replace('USD', '')}),
                        symbol: currencies[index.replace('USD', '')].symbol
                    })
                }
            }
            sortedConversionRates = sortedConversionRates.sort((a, b) => {
                return b.rate - a.rate
            })
            return sortedConversionRates
        },
        reachedCountries: function () {
            return this.sortedConversionRates.filter(rate => {
                return rate.rate * this.savingsInUSD >= 1000000
            })
        },
        unreachedCountries: function () {
            return this.sortedConversionRates.filter(rate => {
                return rate.rate * this.savingsInUSD < 1000000
            })
        },
        sourceCurrencies: function () {
            if(this.sortedConversionRates.length === 0) return []
            console.log(this.sortedConversionRates.find(rate => rate.currency == 'EUR').rate)
            return [
                {
                    symbol: currencies.EUR.symbol,
                    rate: this.sortedConversionRates.find(rate => rate.currency == 'EUR').rate
                },
                {
                    symbol: currencies.USD.symbol,
                    rate: this.sortedConversionRates.find(rate => rate.currency == 'USD').rate
                },
                {
                    symbol: currencies.DKK.symbol,
                    rate: this.sortedConversionRates.find(rate => rate.currency == 'DKK').rate
                },
            ]
        }
    },
    components: {
        Country
    }
}
</script>
<style lang="sass?indentedSyntax">
    @import "../../node_modules/bulma/bulma.sass"

    .section.no-top-padding
        padding-top: 0

</style>
