<template>
  <div id="app">
    <Index></Index>
  </div>
</template>

<script>
import Index from './components/Index'

export default {
  name: 'app',
  components: {
    Index
  }
}
</script>

<style>
</style>
